body {
  font-family: climate Crisis, Arial;
  text-align: center;
  background: url("./mario-bg.jpg");
  background-size: cover;
}
#board {
  width: 540px;
  height: 540px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: url("./soil.png");
  border: 4px solid rgba(46, 25, 13, 0.8);
  border-radius: 15px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}
#board div {
  width: 180px;
  height: 180px;
  background-image: url("./pipe.png");
  background-size: cover;
}